body
{
    background: linear-gradient(270deg, #FFCB05, #00721d, #FF0000, #01c0a7);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 25px;

    @keyframes gradientAnimation 
    {
        0% { background-position: 0% 50%; }
        25% { background-position: 50% 50%; }
        50% { background-position: 100% 50%; }
        75% { background-position: 50% 50%; }
        100% { background-position: 0% 50%; }
    }
}

h1
{
    font-size: 80px;
    padding: 10px;
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img
{
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: -10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.container img:hover
{
    transform: scale(1.1);
}

.pokeCard {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Define um tamanho fixo */
    height: 500px; /* Altura igual para todas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    transition: border-image 0.5s ease-in-out;
}

h2
{
    padding: -20px;
}

.pokeCard h3
{
    margin: 0px;
    margin-top: -30px;
    padding: 1px;
}


.pokeCard p
{
    font-size: 20px;
    width: 100%;
    margin: 60px;
    text-align: justify;
   
}

.pokeCard-corpo
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.tipos h4
{
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    margin: 10px;
    margin-top: 10px;
    display: inline-block; /* Ensures items are displayed side by side */
}
