body 
{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-image: url("img/background.png");
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.containerMain
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 230vh; 
    margin-left: 20vh;
}

h1 {
    font-size: 80px;
    padding: 10px;
    text-align: center;
}

.container 
{
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha */
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
}

.container img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: -10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.container img:hover {
    transform: scale(1.1);
}

.pokeCard 
{
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    transition: border-color 0.5s ease-in-out;
}

/* Estilos para hover em diferentes tipos de Pokémon */
.pokeCard:hover#pokemonPlanta {
    background: linear-gradient(360deg, #441258, #0dbd56, #035c30);
    transition: background 0.1s ease-in;
}

.pokeCard:hover#pokemonFogo {
    background: linear-gradient(360deg, #f17143, #f04324, #8b0000);
    transition: background 0.5s ease-in-out;
}

.pokeCard:hover#pokemonFogoVoador {
    background: linear-gradient(360deg, #3dc7f1, #ff6347, #8b0000);
    transition: background 0.5s ease-in-out;
}

.pokeCard:hover#pokemonAgua {
    background: linear-gradient(360deg, #1e90ff, #00bfff, #00008b);
    transition: background 0.5s ease-in-out;
}

.pokeCard h3 {
    margin: 10px 0;
    font-size: 18px;
    text-align: center;
}

.pokeCard p {
    font-size: 16px;
    width: 100%;
    margin: 20px 0;
    text-align: justify;
}

.pokeCard-corpo {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.tipos h4 {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    margin: 10px;
    text-align: center;
    background-color: #77b255;
    color: white;
    font-size: 14px;
}


/*Seção Menu Superior*/
.menu-superior#menu{
    width: 100%;
    height: 135px;
    display: block;
}

.menu-superior {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    z-index: 2;
}

.botao-central 
{
    position: absolute;
    top: 0%;
    left: 58%;
    margin-top: 40px;
    transform: translate(-50%, -50%);
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
    padding: 0;
}

.botao-central img {
    width: 300px;
    height: auto;
}


/*Seção Menu Lateral*/
.menu-lateral {
    width: 135px;
    background: linear-gradient(to bottom, #1e90ff, #0000aa);
    height: 100vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1; 
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    margin-bottom: 130px;
    margin-top: 130px;
}

.menu-botao {
    background-color: #333;
    border-color: white;
    color: white;
    padding: 5px;
    border-width: 3px;
    border-radius: 40px;
    font-size: 15px;
    width: 120px;
    cursor: pointer;
    text-decoration: none;
}

.menu-botao.ativo {
    background-color: hotpink;
}
/*-------------------*/

/*Seção Avatar*/
.avatar-container {
    background: #459CFF;
    border-radius: 50%;
    padding: 0px;
    border: 4px solid white;
    position: absolute;
    top: 10px;
    left: 67px;
    transform: translateX(-50%);
    z-index: 4; 
}

.avatar 
{
    width: 80px; /* Ajustado para um tamanho proporcional */
    height: 80px; /* Ajustado para um tamanho proporcional */
    border-radius: 50%; /* Tornar o avatar circular */
}
/*-------------------*/

/*Seção Ilustrativa*/
.pokemon-img {
    background-color: #77b255;
    border-radius: 15px;
    margin: 0px 0;
    padding: 15px;
    border: white solid;
    border-width: 4px;
    border-color: white;
}
  
.pokemon-img img 
{
    width: 80px;
    height: 80px;
}
  
.joystick-area {
    margin-top: auto;
    padding: 50px;
}
  
.joystick-area img {
    width: 125px;
    height: auto;
}
/*-------------------*/

/*RESPONSIVIDADE*/

@media (max-width: 480px) {
    .menu-lateral {
        width: 80px;
    }

    .menu-botao 
    {
        font-size: 10px;
        width: 80px;
    }

    .menu-superior
    {
        height: 15vh;
    }


    .conteudoPrincipal 
    {
        width: 300px;
        margin-left: 150px;
        padding-top: 150px; /* Adicionado para criar distância do topo */
    }

    .container {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }

    .avatar
    {
        display: none;
    }

    .avatar-container
    {
        display: none;
    }

    .pokemon-img
    {
        padding: 5px;
    }

    .joystick-area img
    {
        width: 80px;
    }

    .botao-central
    {
        position: absolute;   
        left: 50vw;
     }

    .pokemon-img img
    {
        width: 0
    }
    
    .pokeCard 
    {
        padding: 0px;
        margin-right: 50vw;
        width: 60vw;         
        margin: 10px auto;
    }

    .containerMain{
        margin-left: 10px; 
        margin-right: 5px;
        padding-top: 20px; 
    }

    .container img {
        max-width: 120px;
        height: auto;
    }

    .pokemon-img img {
        width: 50px;
        height: 50px;
    }

    .pokemonsResponsivos 
    {
        display: flex;
        margin-top: 130vh;
        margin-left: 80px;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}