body
{
    margin: 0;
    padding: 0;
    background-image: url("../img/background.png");
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    font-family: Arial, sans-serif;
    color: #ffffff;
    @keyframes gradientAnimation 
    {
        0% { background-position: 0% 50%; }
        25% { background-position: 50% 50%; }
        50% { background-position: 100% 50%; }
        75% { background-position: 50% 50%; }
        100% { background-position: 0% 50%; }
    }
}

h1
{
    font-size: 80px;
    padding: 10px;
}

.conteudoPrincipal
{
    margin: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Full height of the viewport */
}

.container
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container img
{
    width: 100%;
    max-width: 200px;
    height: 200px;
    margin: -10px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.container img:hover
{
    transform: scale(1.1);
}

.pokeCard {
    background-color: #333333;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px; /* Define um tamanho fixo */
    height: 500px; /* Altura igual para todas */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    transition: border-image 0.5s ease-in-out;
}

h2
{
    padding: -20px;
}

.pokeCard h3
{
    margin: 0px;
    margin-top: -30px;
    padding: 1px;
}


.pokeCard p
{
    font-size: 20px;
    width: 100%;
    margin: 60px;
    text-align: justify;
   
}

.pokeCard-corpo
{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

div.tipos h4
{
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    margin: 10px;
    margin-top: 10px;
    display: inline-block; /* Ensures items are displayed side by side */
}

/*Seção Menu Superior*/
.menu-superior img 
{
    position: fixed;
    width: 100%;
    height: 135px;
    display: block;
}

.botao-central 
{
    position: absolute;
    top: 0%; /* Ajuste para posicionar na parte superior */
    left: 50%;
    transform: translate(-50%, -10%); /* Centraliza horizontalmente */
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
    padding: 0;
}

.botao-central img 
{
    position: fixed;
    width: 250px;
    height: 150px;
    transition: transform 0.2s;
}

/*Seção Menu Lateral*/
.menu-lateral {
    width: 135px;
    background: linear-gradient(to bottom, #1e90ff, #0000aa);
    height: 100vh;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 1; 
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
    margin-bottom: 130px;
    margin-top: 130px;
}

.menu-botao {
    background-color: #333;
    border-color: white;
    color: white;
    padding: 5px;
    border-width: 3px;
    border-radius: 50px;
    font-size: 15px;
    width: 120px;
    cursor: pointer;
}

.menu-botao.ativo {
    background-color: hotpink;
}
/*-------------------*/

/*Seção Avatar*/
.avatar-container 
{
    background: #459CFF;
    border-radius: 50%;
    padding: 15px;
    border: 4px solid white;
    position: absolute;
    top: 10px;
    left: 67px;
    transform: translateX(-50%);
    z-index: 4; 
}

.avatar {
    width: 60px;
    height: 60px;
    border-radius: 0%;
}


/*Seção Ilustrativa*/
.pokemon-img {
    background-color: #77b255;
    border-radius: 15px;
    margin: 0px 0;
    padding: 15px;
    border: white solid;
    border-width: 4px;
    border-color: white;
}
  
.pokemon-img img {
    width: 80px;
    height: 80px;
}
  
.joystick-area {
    margin-top: auto;
    padding: 50px;
}
  
.joystick-area img {
    width: 125px;
    height: auto;
}
/*-------------------*/
