body
{
    background-color: #252121;
    font-family: Arial, sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

.timesContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.timeCard
{
    background-color: #333333;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timeCard .cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.timeCard .cardHeader h3
{
    margin: 0;
}

.deleteBtn
{
    background: none;
    border: none;
    color: #ff5555;
    font-size: 20px;
    cursor: pointer;
}

.noveTime
{
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novoTime input
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

.novoTime button
{
    background-color: #47a447;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.pokemonIcons
{
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.pokemonIcons img
{
    width: 50px;
    height: 50px;
}