*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    background-color: #252121;
    font-family: Arial, sans-serif;
    color: #ffffff;
    padding: 32px;
    text-align: center;
}

.novoTimeContainer
{
    margin-bottom: 32px;
}

#novoTimeBtn
{
    background-color: #47a447;
    border: none;
    padding: 13px 24px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 19px;
    cursor: pointer;
    transition: backgroundo-color 300ms, transform 300ms; /*isso aquie é bom usar será*/
}

#novoTimeBtn:hover
{
    background-color: #3b903b;
    transform: scale(1.05);
}

.tituloPagina
{
    font-size: 32px;
    margin-bottom: 24px;
    position: relative;
}

.tituloPagina::after
{
    content: "";
    display: block;
    width: 80px;
    height: 4px;
    background-color: linear-gradient(to right, #f8c630, #ffcc00);
    margin: 8px auto 0;
    border-radius: 2px;    
}

.timesContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 32px;
}

.timeCard
{
    background: #333333;
    border-radius: 12px;
    width: 300px;
    padding: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    position: relative;
    transition: transform 300ms ease;
    overflow: hidde;
}
.timeCard::before
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background: linear-gradient(to right, #f8c630, #ffcc00);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.timeCard:hover
{
    transform: translateY(-5px);
    box-shadow: 0 10px 20 px rgba(0, 0, 0, 0.7);
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardHeader h3
{
    margin: 0;
    font-size: 24px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.deleteBtn
{
    background: #ff5555;
    border: none;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 300ms;
}

.deleteBtn:hover
{
    background: #ff0000;
    transform: scale(1.1);
}

/*.novoTime
{
    background-color: #444444;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novoTime input
{
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 80%;
}

.novoTime button
{
    background-color: #47a447;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}*/

.pokemonIcons
{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 24px;
}

.pokemonItem
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 4px;
}

.typeBadge
{
    position:absolute;
    top: -10px;
    left: 0;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

.typeBadge + .typeBadge
{
    left: 40px;
}

.planta
{
    background-color: #78C850;
}

.veneno
{
    background-color: #A040A0;
}

.fogo
{
    background-color: #F08030;
}

.agua
{
    background-color: #6890F0;
}

.eletrico
{
    background-color: #F8D030;
    color: #333333;
}

.fada     
{ 
    background-color: #EE99AC; 
}

.normal   
{ 
    background-color: #A8A878; 
    color: #333333; 
}

.fantasma 
{ 
    background-color: #705898; 
}

.pokemonItem img
{
    width: 60px;
    height: 60px;
    border-radius: 8px;
    border: 2px solid #f8c630;
    background-color: #fff;
    padding: 4px;
    transition: transform 300ms;
}

.pokemonItem img:hover
{
    transform: scale(1.2);
}

.pokemonInfo
{
    margin-top: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
}

.nomePokemon
{
    font-weight: bold;
}

.pokemonNumero
{
    color: #f8c630;
}